---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;
---

<div class="text-center">
  <!-- Render all authors in one line with institution indices in superscript -->
  <div class="flex justify-center flex-wrap gap-x-6 gap-y-4">
    {
      authors.map((author, index) => (
        <div class="flex flex-col items-center">
          <!-- Author name (with link if available) and institution index as superscript -->
          <span class="text-xl">
            {author.url ? (
              <a href={author.url} class="hover:underline">
                {author.name}
              </a>
            ) : (
              author.name
            )}
            {author.notes && (
              <sup class="text-sm text-gray-500">
                {author.notes.map(
                  (note, i, array) =>
                    note + (i < array.length - 1 ? "," : "")
                )}
              </sup>
            )}
            {author.institution && (
              <sup class="text-sm text-gray-500 ml-2">{index + 1}</sup> // Institution index as superscript next to author
            )}
          </span>
        </div>
      ))
    }
  </div>

  <!-- Render institutions with their indices in a separate line -->
  <p class="text-md mt-2">
    {
      authors.map((author, index) => author.institution ? (
        <span key={index} class="text-sm">
          <sup class="text-sm text-gray-500">{index + 1}</sup> {author.institution} <span class="mr-2"/>
        </span>
      ) : null)
    }
  </p>
</div>
