---
import type { Author } from "../types/types";

interface Props {
  authors: Author[];
}

const { authors } = Astro.props;
---

<div class="text-center">
  <!-- Render all authors in one line -->
  <p class="text-xl flex flex-wrap justify-center gap-x-4">
    {
      authors.map((author, index) => (
        <>
          {author.url ? (
            <a href={author.url} class="hover:underline">
              {author.name}
            </a>
          ) : (
            author.name
          )}
          {author.notes && (
            <sup>
              {author.notes.map(
                (note, i, array) =>
                  note + (i < array.length - 1 ? "," : "")
              )}
            </sup>
          )}
          {index < authors.length - 1 && <span>,</span>}
        </>
      ))
    }
  </p>

  <!-- Render all institutions in a separate line -->
  <p class="text-md mt-2">
    {
      authors
        .map((author) => author.institution)
        .filter((institution, index, array) => array.indexOf(institution) === index) // Remove duplicates
        .join(", ")
    }
  </p>
</div>
